// 全体のモジュール
@import "../../../import";

// アプリのモジュール
@import "../import";



.pickup {
  text-align: center;
  &__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  &__imgs {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    &--img {
      width: 50%;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          background-color: lighten($purple, $i * 6%);
        }
      }
      > img {
        width: 100%;
      }
    }
  }
}
