// 全体のモジュール
@import "../../../import";

// アプリのモジュール
@import "../import";

.pickup {
  text-align: center;
  background-color: $font-color;
  padding: 20px;
  width: 70%;
  margin: auto;
  max-width: 580px;
  &__title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  &__imgs {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    @media screen and (min-width: 550px) {
      justify-content: center;
      flex-flow: nowrap;
    }
    &--img {
      width: 50%;
      > img {
        width: 100%;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          background-color: darken($yerrow, $i * 6%);
        }
        @media screen and (min-width: 550px) {
          width: 180px;
          @for $i from 2 through 4 {
            &:nth-child(#{$i}) {
              width: 90px;
              overflow: hidden;
              position: relative;
              > img {
                width: 200%;
                transform: translateX(-50%);
              }
              &::after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                background-image: linear-gradient(80deg, #333, transparent 60%);
              }
            }
          }
        }
      }
    }
  }
}
