@import "../../../import";
@import "../import";
.music {
  display: flex;
  padding: 5px;
  &__img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-color: $yerrow;
    > img {
      width: 100%;
    }
  }
  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 55%;
    &__sub {
      &--num {
        display: flex;
        &--views {
          margin-right: 8px;
        }
      }
    }
  }
}
.detail {
  word-wrap: break-word;
  &-title {
    font-size: 15px;
  }
  &-sub {
    color: gray;
    font-size: 12px;
  }
}

.users-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  width: 50%;
  &__img {
    width: 80px;
    height: 80px;
    margin: auto;
    background-color: $yerrow;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: bottom;
    > img {
      width: 100%;
      height: 100%;
    }
  }
}
