@import "../../import";

section {
  padding: 10px 0;
}
.container {
  padding: 20px;
  border-bottom: 1px solid $sub-font-color;
  &:last-child {
    border: none;
  }
  > h1 {
    margin-bottom: 10px;
  }
}

.icon {
  margin: 0 3px;
  color: $sub-font-color;
}
