.header-menu {
  font-size: 0.9em;
  margin-right: 20px;
  display: inline-block;
}

// --ヒーロー--
#hero {
  &-container {
    max-width: 250px;
    &-title {
      margin-bottom: 40px;
      h1 {
        font-size: 47px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
      }
    }
    hr {
      border-top: 2px solid $font-color;
      margin-bottom: 40px;
    }
  }
}

.link-btn {
  max-width: 320px;
  height: 50px;
  line-height: 50px;
}

// --イントロ--
#intro {
  padding: 200px 70px 20px;
  > h2 {
    line-height: 1.6;
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.explanation {
  .strong {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

// --ディスクリプション--
#descriptions {
  padding-bottom: 100px;
}
.description {
  padding: 0;
  margin-bottom: 100px;
  &-img {
    height: 100%;
    max-width: 480px;
  }
  &-wrapper {
    max-width: 480px;
    transform: translateX(-35%);
    > h3 {
      font-size: 37px;
      margin-bottom: 15px;
    }
  }
}

#description {
  &1 {
    background-color: #d23d33;
  }
  &2 {
    background-color: #9567c4;
    .description {
      &-img {
        margin-left: auto;
      }
    }
  }
  &3 {
    background-color: #ddac61;
  }
}

// --クローズ--
#close,
.close-container {
  padding: 40px 0;
  .close-text {
    font-size: 28px;
  }
}
@media screen and (min-width: 800px) {
  #close {
    .close {
      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-text {
        width: 30%;
        text-align: left;
      }
      &-btns {
        width: 30%;
        margin: 0;
      }
    }
  }
}
