.header-menu {
  font-size: 0.9em;
  margin-right: 20px;
  display: inline-block;
}

// --ヒーロー--
#hero {
  &-container {
    max-width: 250px;
    &-title {
      margin-bottom: 40px;
      h1 {
        font-size: 47px;
        margin-bottom: 20px;
      }
      p {
        font-size: 18px;
      }
    }
    hr {
      border-top: 2px solid $font-color;
      margin-bottom: 40px;
    }
  }
}

.link-btn {
  max-width: 320px;
  height: 50px;
  line-height: 50px;
}

// --イントロ--
#intro {
  padding: 170px 70px 20px;
  > p {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.explanation {
  p {
    font-size: 18px;
  }
}
