// --ヒーロー--
#hero {
  &-container {
    max-width: 800px;
    &-title {
      margin-bottom: 45px;
      h1 {
        font-size: 70px;
        margin-bottom: 20px;
      }
      p {
        font-size: 25px;
      }
      br {
        display: none;
      }
    }
    hr {
      border-top: 2px solid $font-color;
      margin-bottom: 45px;
    }
  }
}

.link-btn {
  font-size: 25px;
  max-width: 400px;
  height: 50px;
  line-height: 50px;
}

// --イントロ--
#intro {
  padding: 100px 50px;
  > h2 {
    font-size: 50px;
    margin-bottom: 50px;
    > br:first-child {
      display: none;
    }
  }
  &-explanation {
    max-width: 800px;
  }
}
.explanation {
  p {
    font-size: 20px;
  }
}

// --ディスクリプション--
.description {
  max-width: 1500px;
  margin: auto;
  background-color: $base-color;
  &-container {
    max-width: 750px;
    margin: auto;
  }
  &-img {
    max-width: 520px;
    &::before {
      font-size: 160px;
    }
  }
  &-wrapper {
    transform: translateX(-20%);
    > h3 {
      font-size: 53px;
      margin-bottom: 30px;
    }
  }
}
#description1 .description-img::before,
#description3 .description-img::before {
  transform: translateX(-10%);
}
#description2 .description {
  &-wrapper {
    transform: translateX(-80%);
  }
  &-img::before {
    transform: translateX(-10%);
  }
}

// --クローズ--
#close {
  .close {
    &-container {
      padding: 50px 0;
    }
    &-text {
      font-size: 46px;
      line-height: 1.6em;
      margin-right: 20px;
    }
  }
}
@media screen and (min-width: 1300px) {
  #close {
    .close {
      &-text,
      &-btns {
        width: 25%;
        max-width: 400px;
      }
    }
  }
}
