@import "@/assets/scss_files/_import.scss";

// --ヘッダー--
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.header-menu {
  display: none;
}

// --ヒーロー--
#hero {
  background: {
    image: url("../../imgs/hougaku_img-670x372.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }
}
