@import "@/assets/scss_files/_import.scss";

// --ヘッダー--
#Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.header-menu {
  display: none;
}

// --ヒーロー--

#hero {
  height: 100vh;
  background: {
    image: url("../../imgs/hougaku_img-670x372.jpg");
    repeat: no-repeat;
    position: bottom;
    size: cover;
    attachment: fixed;
  }
  position: relative;
  &-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    width: 70%;
    margin: auto;
    &-title {
      margin-bottom: 25px;
      h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }
    }
    hr {
      margin-bottom: 25px;
      border: {
        style: none;
        top: 2px solid $font-color;
      }
    }
  }
}
.start-btn {
  background-color: #de3c31;
}

.link-btn {
  display: inline-block;
  width: 70%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50px;
}
