$base-color: #333;
$font-color: whitesmoke;
$sub-font-color: #dfdddd;
$hr-color: gray;
$red: #de3c31;
$purple: #9567c4;
$yerrow: #ddac61;
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:focus {
    outline: none;
  }
}
